@use '../base/variables' as v;
@use '../base/mixins' as m;

.home-about {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    min-height: 60rem;

    background-image: url(../img/home/bg_about.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100rem;
    
    @include m.phone {
        min-height: 80rem;
        background-size: 180rem;
        
    }



    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0;

        background-color: rgba(v.$grisOscuro, .5);
        padding: 2rem;
        margin: 0 1rem;
        border-radius: 2rem;
        color: v.$blanco;
        
        h3 {
            text-align: start;
        }

        p {
            text-align: center;
        }
        
        @include m.phone {
            width: 30%;
            margin: 0 8rem;
            gap: 2rem;
            padding: 4rem;
            align-items: flex-start;

            p {
                text-align: start;
            }
            
        }
    }

}
