@use '../base/variables' as v;
@use '../base/mixins' as m;

.home-choose {
    
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 5rem 15rem;


    img {
        width: 60rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    &__item {

        h4 {
            font-size: 2rem;
        }
    }


}
