@use '../base/variables' as v;
@use '../base/mixins' as m;

.home-contacto {

    // &__heading {
    //     font-size: 5rem;
    //     text-align: center;
    //     color: v.$grisOscuro;
    // }

    &__contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;



        gap: 1rem;

        padding: 15rem 8rem;
        margin: 0 0 10rem 0;


    }

    &__text {

        padding: 3rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            font-size: 4.2rem;
            text-align: start;
            margin: 0 0 1rem 0;
            color: v.$amarillo_past;

        }

        p {
            font-size: 3rem;
            color: v.$grisOscuro;
        }
    }



    &__formulario-contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        width: 95%;
        margin: 0 auto;
        padding: 5rem 0;

        @include m.tablet {
            width: 50rem;

        }
    }

    &__campo {
        font-size: 1.6rem;
        padding: 1rem;
        // background-color: v.$grisOscuro;
        border: 3px solid v.$blanco;
        border-radius: 1rem;
        color: v.$grisOscuro;
        opacity: 0;
        transition: all 1s ease;

        &--activo {

            box-shadow: 3px 3px 10px 3px rgba(v.$grisOscuro, .2) inset,
                10px 10px 15px 5px rgba(v.$grisOscuro, .1) inset,
                3px 3px 15px 5px rgba(v.$grisOscuro, .2),
                10px 10px 15px 5px rgba(v.$grisOscuro, .1);

            opacity: 1;
            transition: box-shadow 4s ease, opacity 1s ease;

        }
    }

    &__btn-contenedor {
        display: flex;
        justify-content: center;

    }

    &__btn {
        width: 100%;
        padding: 1rem 4rem;
        margin-top: 2rem;
        color: v.$blanco;
        background-color: rgba(v.$verde_past, 60%);
        border: 2px solid v.$verde_past;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: v.$bold;
        border-radius: 1rem;
        opacity: 0;
        transition: opacity 1s ease, box-shadow 1s ease, color .3s ease, background-color .3s ease;

        @include m.tablet {
            width: auto;
        }

        &:hover {

            background-color: rgba(v.$verde_past, 80%);
            box-shadow: none;

            cursor: pointer;
        }

        &--activo {

            box-shadow: 1px 1px 5px 3px rgba(v.$verde_past, .5);
            opacity: 1;
            transition: opacity 2s ease, box-shadow .6s ease, color .3s ease, background-color .3s ease;

        }
    }
}