@use '../base/variables' as v;
@use '../base/mixins' as m;


.home-hero {
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 2rem;
    background-image: url(../img/home/hero_1.svg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 80rem;
    padding: 10rem;
    min-height: 80rem;

    &__text {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        gap: 6rem;
        padding: 5rem 0;
        

        h2 {
            text-align: left;
            color: v.$naranja_past;
            margin-bottom: 1rem;
        }

        p {
            font-size: 2.5rem;
            font-weight: v.$bold;
            color: v.$grisOscuro;
            background-color: rgba(v.$blanco, .8);
        }
    }

    &__btn-cont {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;

        margin: 0 10rem 5rem 0;


    }
}