@use '../base/variables' as v;
@use '../base/mixins' as m;



.home-logo-sec {
    width: 100%;
    min-height: 86rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;

    background-color: v.$blanco;
    // box-shadow: -15px 0 35px 5px v.$blancoOscuro;
}

