@use '../base/variables' as v;
@use '../base/mixins' as m;

.main-projects {


    &__contenedor-xl {

        padding-top: 2rem;

        @include m.tablet {

            padding-top: 6rem;
        }

        h2 {
            margin: 2rem 0 0 0;
            padding: 1rem 0;

            @include m.tablet {
                padding-top: 7rem;

            }
        }

    }

    &__contenedor {

        display: flex;
        justify-content: center;
        background-image: url(../img/bg_13.svg);
        background-position: center;
        background-size: 200rem;
        background-repeat: no-repeat;
        padding: 0 0 2rem 0;

        @include m.tablet {
            padding: 20rem 0 25rem 0;

        }

    }


    &__grid {

        width: 95%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 5rem;
        gap: 5rem;

        @include m.tablet {


            width: 100%;
            flex-direction: row;

        }

    }

    &__card {

        border-radius: 2rem;
        padding: 1rem .5rem 2rem .5rem;
        box-shadow: -1px -1px 2px 1px v.$gris inset;
        display: flex;
        flex-direction: column;

        @include m.tablet {
            padding: 3rem 2rem;

        }

        p {
            padding: 1rem 2rem;
            text-align: center;

            @include m.tablet {
                padding: 2rem 4rem;
                text-align: start;
                width: 58rem;

            }
        }

        a {
            font-size: 2rem;
            font-weight: v.$bold;
            transition: color .5s ease;

            &:hover {

                color: v.$naranja2;
            }
        }
    }

    &__tl {
        color: v.$blanco;

        background: rgb(31,41,55);
        background: linear-gradient(354deg, rgba(31,41,55,0.9430365896358543) 1%, rgba(31,41,55,1) 53%);
    

        &:hover {

            & .main-projects__icono {

                color: v.$naranja2;
                cursor: pointer;
                transform: rotate(15deg);
            }

            & .main-projects__icono--oculto {
                transition: opacity 2s ease;
                opacity: 1;
            }
        }


        a {
            color: v.$blanco;
        }
    }

    &__tt {

        background: rgb(255,255,255);
        background: linear-gradient(354deg, rgba(255,255,255,0.8225884103641457) 1%, rgba(255,255,255,1) 53%);

        &:hover {

            & .main-projects__icono {

                color: v.$naranja2;
                cursor: pointer;
                transform: rotate(15deg);


            }

            & .main-projects__icono--oculto {
                transition: opacity 2s ease;
                opacity: 1;

            }
        }


        a {
            color: v.$negro;
        }

    }

    &__contenedor-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        margin: 3rem 3rem 1rem 3rem; 

        @include m.tablet {
            flex-direction: row;
            justify-content: space-around;
            gap: 0;

        }


    }

    &__contenedor-img {}

    &__iconos {
        display: flex;
        gap: 1rem;

    }

    &__icono {
        font-size: 4rem;

        transition: color .5s ease, transform .5s ease;

        &:hover {

            color: v.$naranja !important;
            cursor: pointer;



        }

        &--oculto {

            opacity: 0;
            transition: opacity .5s ease;
            font-size: 4rem;
        }
    }

    &__text {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }
}