@use '../base/variables' as v;
@use '../base/mixins' as m;


.perfil {

    &__contenedor {

        display: flex;
        flex-direction: column;
        
        @include m.tablet {
            @include m.grid(2, 2rem)
            
        }
    }

    &__contenedor-desc {

        display: flex;
        flex-direction: column;
        justify-content: center;

        h4 {
            font-size: 2rem;
            margin: 2rem 0 0 0;
            text-align: center;
            
            @include m.tablet {
                font-size: 3rem;
                
            }
        }


        p {
            padding: 1.4rem;
            text-align: center;

            @include m.tablet {
                font-size: 2rem;
                
            }

        }

    }

    &__contenedor-img {

        img {
            width: 25rem;
            height: 25rem;

            @include m.tablet {
                width: 40rem;
                height: 40rem;
                
            }
        }

        margin: 0 auto;
        background-image: url(../img/bg_8.png);
        background-repeat: no-repeat;

    }

    &__listado {

        display: flex;
        flex-direction: column;
        margin: 1rem auto 3rem auto;
        gap: 1rem;
        font-size: 1.6rem;
        width: 80%;
        padding: 0;

        
        @include m.tablet {
            margin: 2rem auto;
            width: 80%;
            font-size: 1.8rem;
            padding-left: 4rem;
        }

        li {
            color: v.$blanco;
            font-weight: v.$bold;
            padding: .5rem;
            
            @include m.tablet {
                padding: .5rem 1rem .5rem 2rem;
                
            }
        }

        & :nth-child(odd) {
            background-color: v.$naranja3;
        }
        & :nth-child(even) {

            background-color: v.$naranja;
        }

    }
}