@use '../base/variables' as v;
@use '../base/mixins' as m;


.play {

    &__contenedor {

        display: flex;
        align-items: center;
        background-color: v.$grisOscuro;

    }

    &__grid {
        margin: 3rem auto 0 auto;

        // @include m.grid(6, .2rem);
        display: grid;
        grid-template-columns: repeat(12, 7rem);


    }

    &__icono {

        color: v.$grisOscuro;
        border: .5px solid v.$grisOscuro;

        width: 7rem;
        height: 7rem;
        background-color: v.$grisOscuro;
        font-size: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 5px 1px v.$negro inset;

        transition: background-color .3s ease, color .3s ease;

        &:hover {


            color: rgba(v.$naranja, .5);
            cursor: pointer;
            //background-color: lighten(v.$grisOscuro, 10%);


        }
    }

    &__icono-azul {
        color: v.$azul!important;
    }

    &__icono-rojo {
        color: v.$rojo!important;
    }

    &__icono-victoria {
        color: v.$amarillo!important;
        box-shadow: 1px 1px 5px 1px v.$amarillo inset;
    }
}
