@use '../base/variables' as v;
@use '../base/mixins' as m;

.plan {


    background-image: url(../img/home/bg_cloud.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100rem;

    margin: 5rem;
    padding: 5rem;
    border-radius: 3rem;

    &__text {
        padding: 2rem 0 0 2rem;

        p {
            font-size: 2rem;
        }
    }

    &__grid {

        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5rem;
        padding: 5rem;

    }

    &__card {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 3rem 1rem;
        border-radius: 2rem;
        transition: box-shadow 1s ease;

        &:hover {
            box-shadow: none;
        }

        &--verde {
            background-color: rgba(v.$verde_past, .1);
            box-shadow: 0 0 10px 5px v.$verde_past;
            color: v.$verde_past;

        }

        &--ama {
            background-color: rgba(v.$amarillo_past, .1);
            box-shadow: 0 0 10px 5px v.$amarillo_past;
            color: v.$amarillo_past;

        }

        &--naranja {
            background-color: rgba(v.$naranja_past, .1);
            box-shadow: 0 0 10px 5px v.$naranja_past;
            color: v.$naranja_past;

        }


        i {
            font-size: 10rem;
        }

        h3 {

            padding: 1.5rem;
            margin: 0;
        }

        p {

            font-size: 2.5rem;
            text-align: center;
            padding: 2rem;
            font-weight: v.$bold;


        }
    }
}