@use '../base/variables' as v;
@use '../base/mixins' as m;


.play {

    &__contenedor {

        display: flex;
        align-items: center;
        background-color: v.$grisOscuro;

    }

    &__grid {
        margin: 3rem auto 0 auto;

        // @include m.grid(6, .2rem);
        display: grid;
        grid-template-columns: repeat(24, 5rem);


    }

    &__icono {

        color: v.$grisOscuro;
        border: .5px solid v.$grisOscuro;

        width: 5rem;
        height: 5rem;
        background-color: v.$grisOscuro;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 5px 1px v.$negro inset;

        transition: background-color .3s ease, color .3s ease;

        &:hover {


            color: lighten(v.$grisOscuro, 10%);
            cursor: pointer;
            background-color: lighten(v.$grisOscuro, 10%);


        }


    }
}
