@use '../base/variables' as v;
@use '../base/mixins' as m;


.projects {

    &__heading {
        padding-top: 7rem;
    }

    &__contenedor-xl {

       //  background-color: lighten( v.$grisOscuro, 30%);
        width: 100%;

        padding-bottom: 6rem;

    }

    &__contenedor {

        width: 80%;
        margin: 0 auto;


    }

    &__filtros {
        margin: 2rem 8rem;
        display: flex;
        justify-content: space-around;
        text-transform: uppercase;

        p {
            font-size: 2rem;
            font-weight: v.$bold;
            padding: 1rem;
        }


    }

    &__grid {


        @include m.grid(3, 0);
        
    }

    &__project {
        //padding: 6rem;
        // background-color: v.$azul;
         display: flex;
        // flex-direction: column;
         justify-content: center;
         align-items: center;

        max-width: 40rem;
        max-height: 35rem;

        overflow: hidden;


    }

    &__img {

        width: auto;




    }
    &__project-text {



        h4 {
            font-size: 2rem;
            margin: 0 0 1rem 0;
        }

        p {
            color: v.$naranja;

        }

        a {
            text-transform: uppercase;
            border: 2px solid v.$naranja;
            padding: .5rem 3rem;
            color: v.$naranja;
            margin-top: 3rem;
            font-size: 2rem;
        }

    }

}