@use '../base/variables' as v;
@use '../base/mixins' as m;

.services {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    margin: 0 0 8rem 0;

    @include m.phone {
        padding: 10rem 5rem;
        height: auto;
        margin: 5rem 0 10rem 0;
    }

    h3 {
        margin-bottom: 10rem;
        padding: 1rem 3rem;
        z-index: 5;
        font-size: 7rem;
        background-color: rgba(v.$blanco, .5);

    }

    overflow: hidden;

    &__bg {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
        z-index: 0;

        @include m.phone {
            top: 50%;
            left: 50%;
        }

    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        gap: 1rem;
        z-index: 5;


        @include m.phone {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 5rem;
        }
    }

    &__grid-item {

        width: 100%;
        height: auto;
        min-height: 15rem;
        border-radius: 4rem;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: v.$blanco;

        position: relative;
        transition: transform .5s ease, z-index .5s ease, background-color .5s ease, opacity .5s ease;
        z-index: 6;
        overflow: hidden;


        p {
            text-align: center;
            font-size: 1.3rem;
            max-height: 0;
            opacity: 0;

            transition: opacity .5s ease, max-height .5s ease;
            overflow: hidden;
            line-height: 1.2;


        }

        @include m.phone {

            width: 30rem;
            height: 22rem;
            border-radius: 7rem;
            padding: 0 2rem;

            &:hover {
                transform: scale(1.2);
                z-index: 10;
                cursor: help;

                i {
                    font-size: 4rem;
                    margin-bottom: .5rem;

                }

                p {
                    opacity: 1;
                    max-height: 200px;
                }
            }
        }
    }

    &__item-text {

        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;

        i {
            font-size: 3.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            
            transition: font-size .5s ease, margin-bottom .5s ease;
        }

        h4 {
            font-size: 1.4rem;
            margin: 0;
            text-align: center;

        }

        @include m.phone {
            flex-direction: column;

            i {
                font-size: 7rem;
                margin-bottom: 1.5rem;
            }

            h4 {
                font-size: 1.8rem;
                margin: 0;
                text-align: center;
    
            }
        }
    }
}