@use '../base/variables' as v;
@use '../base/mixins' as m;

.skills {


    &__grid {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        margin: 5rem 0;
        
    }

    &__card {


    }

    &__contenedor-vector {
        width: 100%;
        display: flex;
        justify-content: center;



    }

    &__vector {
        font-size: 8rem;
        padding: 7.5rem 8rem;
        border-radius: 50%;
        background-color: v.$grisOscuro;
        color: v.$naranja2;
        box-shadow: 2px 2px 10px v.$naranja inset;
        transition: box-shadow 1s ease;

        &:hover {
            box-shadow: 2px 2px 10px v.$naranja inset,
             2px 2px 20px 8px v.$naranja;

        }
    }

    &__text {
        text-align: center;

        h3 {

            margin: 2rem;
        }
        p {
            margin: 0 2rem;
        }

    }
}