@use '../base/variables' as v;
@use '../base/mixins' as m;

.works {
    margin: 4rem 0 0 0;
    // Aplica solo cuando este elemento es buscado por medio de algun scroll
    scroll-margin-top: 5rem;

    @include m.phone {
        margin: 15rem 0 0 0;
    }

    &__slider-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        padding: 6rem 1.5rem;
        margin: 6rem 0;

        background-color: #121212;
        background-image: linear-gradient(90deg, #121212 0%, #4a4a4a 55%, #121212 100%);
        border-radius: 1rem;

        @include m.phone {
            padding: 5rem 1rem 5rem 1rem;
            margin: 5rem 3rem;
            gap: 4rem;
        }
    }

    &__slider {

        @include m.phone {
            padding: 1rem !important;
        }
    }

    &__text {

        p {
            text-align: center;
            color: v.$naranja_past;
            font-size: 1.8rem;
            font-weight: v.$bold;
            margin: 0;
            box-shadow: 0 0 10px 1px v.$negro;
            padding: 1rem;
            border-radius: 1rem;

            @include m.phone {
                font-size: 2.2rem;
                padding: 1.5rem 8rem;
            }
        }
    }

    &__card {
        // height: 30rem;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        padding: 2rem;
        background-color: v.$blanco;
        border-radius: 2rem;
        transition: box-shadow 0.5s ease;

        &:hover {
            cursor: pointer;
            box-shadow: none;
        }

        img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            object-fit: contain;
        }

        h4 {
            font-size: 1.8rem;
            margin: 0;
            text-align: center;
            color: v.$negro;
        }

        p {
            font-size: 1.4rem;
        }

        @include m.phone {
            padding: 6rem 3rem;
            gap: 6rem;

            &:hover {
                box-shadow:
                    0 0 0 0 v.$naranja_past inset,
                    0 0 8px 5px v.$naranja_past;
            }

            h4 {
                font-size: 2.5rem;
            }
        }
    }
}