@use '../base/variables' as v;
@use '../base/mixins' as m;

*, *:before, *:after {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}

body {
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

select, input[type="checkbox"] {
    cursor: pointer;
}
input[type="radio"] {
    cursor: pointer;
}
input:focus, textarea:focus, select:focus {
    outline: none;
  }
  
a {
    text-decoration: none;
}
li {
    list-style: none;
}
p {
    margin: 0;
}

.home-body {
    font-family: v.$fuente_prin;
    background-color: v.$blancoOscuro;
    position: relative;
    padding-top: 10rem;
    textarea, input, label, a {
        font-family: v.$fuente_prin;
    }
}

.porfolio-body {
    font-family: v.$fuente_textos;
    textarea, input, label, a {
        font-family: v.$fuente_textos;
    }
    
}