
// Fuentes
$fuente_textos: 'Raleway', sans-serif;
$fuente_headings: 'Open Sans', sans-serif;

$regular: 400;
$bold: 700;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 770px;
$phoneHorizontal: 900px;
$desktop: 1024px;

// Colores
$blanco: #FFFFFF;
$negro: #000;
$negroLight: #222;

$amarillo: #fecd4d;
$dorado: #ad9245;
$violeta: #8c41e5;
$rosa: #e772ef;
$azul: #5e81b0;
$azulF: #1857b5;
$naranja: #ff735c;
$cyan: #129ECA;

$rojo: #ef4444;
$verde: #078F22;

$grisClaro: #dbdbdb;
$gris: #7c7c7c;
$grisOscuro: #444444;

$separacion: 5rem;

// Dark Mode
$negroDM: #1e1e1e; // Este color se aplica desde Js, no desde aquí. Esta varriable no cumple ninguna función

// Otros colores
$naranja2: #D52F1E;
$naranja3: #CE2227;
$magenta: #BB002C;
$rosa: #CC3B6C;
// Paleta de TusListas
$azulTL: #1f2937;
$azulTLClaro: #0284C7;



// Paleta de StuffScripts
$fuenteStuff:"Encode Sans SC", sans-serif;
$naranjaST: #d23e01;
$grisOscuroST: #7D7470;
$grisST: #696969;
$amarilloST: #ffd53a;
$doradoST: #fbb106;
$DMazulOscuroST: #111828;
$DMgrisOscuroST: #1c1916;
$DMgrisMedioST: #282d35;
$DMgrisClaroST: #384153;