
// Fuentes
$fuente_textos: 'Raleway', sans-serif;
$fuente_headings: 'Open Sans', sans-serif;

$light: 200;
$regular: 400;
$bold: 700;
$black: 900;


// Tamaño de Media Queries
$phone: 480px;
$tablet: 770px;
$desktop: 1024px;

// Colores
$blanco: #FFFFFF;
$negro: #000;

$amarillo: #fecd4d;
$dorado: #ad9245;
$violeta: #8c41e5;
$rosa: #e772ef;
$azul: #5e81b0;

$rojo: #EF4444;
$verde: #078F22;

$grisClaro: #dbdbdb;
$gris: #7c7c7c;
$grisOscuro: #444444;

$separacion: 5rem;