
/* Fuentes */

// Porfolio
$fuente_textos: 'Raleway', sans-serif;
$fuente_headings: 'Open Sans', sans-serif;
$fuente_stuff:"Encode Sans SC", sans-serif;

// Home
$fuente_cursiva:"Pacifico", cursive;
$fuente_prin: "Quicksand", sans-serif;

// $fuente_cartel: "Bungee", sans-serif; // ??

/* Font Weight */
$regular: 400;
$bold: 700;

/* Tamaño de Media Queries */
$phone: 480px;
$tablet: 770px;
$desktop: 1140px;
$desktopXL: 1400px;
$phoneHorizontal: 900px;

$separacion: 5rem;

/* Colores */

// Principales
$blanco: #FFFFFF;
$blancoOscuro: #fffff5;
$negro: #000;
$negroLight: #222;
$negroDM: #1e1e1e; // Este color se aplica desde Js (DarkMode), no desde aquí. Esta variable no cumple ninguna función.
$negroGris: #0a0a0a;

// Grises
$marfil: #fffff0;
$marfilOsc: #fffbef;
$grisClaro: #dbdbdb;
$gris: #7c7c7c;
$grisOscuro: #444444;

// Pasteles
$amarillo_past: #fecd4d;
$azul_past: #5e81b0;
$naranja_past: #ff735c;
$rojo_past: #e8505b;
$verde_past: #6ca690;

// Alertas y mensajes
$rojo: #ef4444;
$verde: #078F22;

// Otros colores
$naranja2: #D52F1E;
$naranja3: #CE2227;
$magenta: #BB002C;
$rosa: #CC3B6C;
$dorado: #ad9245;
$cyan: #129ECA;
$azulF: #1857b5;

// Paleta de TusListas
$azulTL: #1f2937;
$azulTLClaro: #0284C7;

// Paleta de StuffScripts
$naranjaST: #d23e01;
$grisOscuroST: #7D7470;
$grisST: #696969;
$amarilloST: #ffd53a;
$doradoST: #fbb106;
$DMazulOscuroST: #111828;
$DMgrisOscuroST: #1c1916;
$DMgrisMedioST: #282d35;
$DMgrisClaroST: #384153;