@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.home-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0 3rem 0;
    gap: 2rem;
    z-index: 9;

    background-color: lighten(v.$amarillo_past, 8%);
    box-shadow: 0 0 15px v.$grisOscuro;

    color: v.$verde_past;
    font-weight: v.$bold;

    
    @include m.tablet {
        padding: 4rem 0 7rem 0;

        
    }

    p {
        font-size: 1.4rem;
        width: 95%;
        text-align: center;
        @include m.tablet {
            width: auto;
            font-size: 2rem;

        }
    }

    &__logo {
        display: flex;
        align-items: center;


        h2 {
            margin: 0;
            text-align: left;
            font-size: 3rem;

            font-family: v.$fuente_cursiva;
            color: v.$grisOscuro;
        }
    }

    &__nombre {
        color: v.$verde_past;
        font-weight: v.$bold;

    }

    // &__icono {

    //     font-size: 5rem;
    //     color: v.$naranja2;
    //     transition: transform .6s ease-out, color .5s ease-out;
        
    //     @include m.tablet {
    //         font-size: 6rem;
            
    //     }

    //     &:hover {

    //         cursor: pointer;
    //         transition: transform .6s ease-out, color .5s ease-out;
    //         transform: rotate(360deg);
    //         color: v.$naranja_past;
        
    //     }
    // }
}



