@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.home-heading {

    &__b {
        margin: 0;
        font-size: 7rem;
        text-align: center;
        color: v.$grisOscuro;
    }
    
    &__m {
        margin: 0;
        font-size: 5rem;
        text-align: center;
        color: v.$grisOscuro;
    }

    &__s {}
}

.home-bg {


    // &__container {
    //     position: relative;
    //     height: 100vh;
    //     overflow: scroll;
    // }

    // &__logo {
    //     position: sticky;
    //     top: 59%;
    //     left: 50%;
    
    //     transform: translate(-50%, -50%);
    //     z-index: 0;
    // }
}




.body-overlay {

    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(v.$negro, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
    z-index: 1;


    &--on {
        opacity: 1;
        z-index: 4;
    }
}

.home-gradient {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

