@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.home-heading {

    &__b {
        margin: 0;
        font-size: 7rem;
    }

    &__m {
        margin: 0;
        font-size: 4rem;
    }

    &__s {}
}

.body-overlay {

    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(v.$negro, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
    z-index: 1;


    &--on {
        opacity: 1;
        z-index: 4;
    }
}