@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.home-header {
    transition: transform .6s ease, opacity .6s ease, padding .6s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px v.$gris;
    position: fixed;
    background-color: v.$blanco;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    transform: translateY(-100%);
    opacity: 0;
    padding: 0 5rem;

    @include m.phone {
        animation: fadeIn 2s ease-out both;
        transform: translateY(0);
        opacity: 1;
        padding: 2rem 1rem;
    }

    @include m.tablet {
        padding: 2rem 5rem;
    }

    @include m.desktop {
        padding: 1rem 5rem;
    }

    @include m.desktopXL {
        padding: 2rem 5rem;
    }

    @keyframes fadeIn {
        from {
            transform: translateY(-100%)
        }

        to {
            transform: translateY(0);
        }
    }

    &__hidden {
        transform: translateY(-100%);
        opacity: 0;
        padding: 0 5rem;
    }

    &__visible {
        transform: translateY(0);
        opacity: 1;
        padding: 2rem 5rem;

        @include m.phone {
            padding: 2rem 1rem;
        }

        @include m.tablet {
            padding: 2rem 5rem;
        }

        @include m.desktop {
            padding: 1rem 4rem;
        }

        @include m.desktopXL {
            padding: 2rem 5rem;
        }
    }

    &__logo {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        @include m.phone {
            width: auto;
        }

        &:hover {
            .home-header__logo-text {
                color: transparent;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    &__logo-text {
        // Texto del Logo
        margin: 0;
        text-align: left;
        font-size: 3rem;
        font-family: v.$fuente_cursiva;
        color: v.$grisOscuro;
        background: linear-gradient(to right, v.$naranja_past, v.$amarillo_past);
        background-size: 100% 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: currentColor;
        transition: all .8s ease;
    }

    &__nav {
        display: none;

        @include m.phone {
            display: flex;
            gap: 1.5rem;
            align-items: center;
        }

        @include m.tablet {
            gap: 3rem;
        }

        @include m.desktop {
            .btn-grad {
                margin: 0;
            }
        }

        @include m.desktopXL {
            .btn-grad {
                margin: 1rem;
            }
        }
    }

    &__enlace {
        font-size: 1.6rem;
        font-weight: v.$bold;
        color: v.$grisOscuro;
        transition: color .3s ease;

        &:hover {
            color: v.$naranja_past;
        }

        @include m.tablet {
            font-size: 1.8rem;
        }
    }
}