@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.home-header {

    transition: transform .6s ease, opacity .6s ease, padding .6s ease;
    transform: translateY(0);
    opacity: 1;
    padding: 2rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px v.$gris;
    position: fixed;
    background-color: v.$blanco;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;

    animation: fadeIn 1s ease-out both;

    @keyframes fadeIn {
        from {
            transform: translateY(-100%)
        }

        to {
            transform: translateY(0);
        }
    }

    &__hidden {
        transform: translateY(-100%);
        opacity: 0;
        padding: 0 5rem;
    }

    &__visible {
        transform: translateY(0);
        opacity: 1;
        padding: 2rem 5rem;
    }

    &__logo {
        display: flex;
        align-items: center;

        h2 {
            margin: 0;
            text-align: left;
            font-size: 3rem;

            font-family: v.$fuente_cursiva;
            color: v.$grisOscuro;
        }
    }

    &__nav {
        display: flex;
        gap: 3rem;
        align-items: center;
    }

    &__enlace {
        font-size: 1.8rem;
        font-weight: v.$bold;
        color: v.$grisOscuro;
        transition: color .3s ease;

        &:hover {
            color: v.$naranja_past;
        }
    }
}