@use '../../base/variables' as v;
@use '../../base/mixins' as m;

:root {

    // Factor para escalar
    --factor: 1;

    // Opacidad final (solo para B & N como fondo, utiliza un important)
    --opacity: 1;

    // Transición del contenedor principal (opacity)
    --tiempo_op: 1.5s;

    // Fuentes
    --fuente_prim: "Pacifico", cursive;
    --fuente_sec: "Quicksand", sans-serif;

    // Colores principales
    --cFondo: #fffff0;
    --cPrim: #212936;
    --cSec: #6ca690;
    --cNegro: #212936;
    --cBlanco: #FFFFFF;
    --cGris: #444444;

    // Circulo centro y degradado
    --cPrim0: #f6b73c;
    --cPrim1: #f48c06;
    --cPrim2: #e85d04;
    --cPrim3: #aa4f08;
    --cPrim4: #d00000;

    // Gama de grises para logo B & N
    --cBNgris: #7c7c7c;
    --cBNgrisClaro: #dbdbdb;


}

.logo {

    &__contenedor {
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: calc(1.5rem * var(--factor));
        padding: calc(2rem * var(--factor));
        background-color: var(--cFondo);
        color: var(--cSec);
        animation: fadeInUp var(--tiempo_op) ease-out both;
        background-color: inherit;

        &--bn {
            opacity: var(--opacity)!important;
            animation: none;
        }
    }

    &__cuadro-up {
        h2 {
            margin: 0;
            font-size: calc(3.5rem * var(--factor));
            font-family: var(--fuente_sec);
            letter-spacing: calc(.8rem * var(--factor));
            color: var(--cPrim);
            animation: fadeInUp 2s ease-out both;
        }
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(calc(4rem * var(--factor)));
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        align-items: center;
        gap: calc(2rem * var(--factor));
    }

    &__cuadro-lateral {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3%;
        border-top: calc(.5rem * var(--factor)) solid var(--cGris);
        border-bottom: calc(.5rem * var(--factor)) solid var(--cGris);
        opacity: 0;
        animation: opacityChange 1s linear 4s 1 forwards;

        p {
            font-size: calc(1.6rem * var(--factor));
            font-family: var(--fuente_sec);
        }
    }

    @keyframes opacityChange {
        from {
            opacity: 0;
            padding: 0;
        }

        to {
            opacity: 1;
            padding: calc(1rem * var(--factor)) 0;
        }
    }

    &__cuadro-centro {}

    &__circulo-fondo {
        background-color: var(--cPrim);
        padding: calc(2rem * var(--factor));
        border-radius: 50%;
        border: calc(.6rem * var(--factor)) solid var(--cFondo);
        transition: border 2s ease;

        &:hover {
            border: calc(.6rem * var(--factor)) solid var(--cPrim0);
        }

        &--bn {
            background-color: var(--cBNgris);

            border: calc(.6rem * var(--factor)) solid var(--cBNgrisClaro);

            &:hover {
                border: calc(.6rem * var(--factor)) solid var(--cBNgrisClaro);
            }

        }
    }

    &__circulo-borde {
        border: calc(2rem * var(--factor)) solid var(--cSec);
        border-radius: 50%;
        position: relative;

        transition: border 2s ease, background-color 2s ease;

        &:hover {
            border: calc(2rem * var(--factor)) solid var(--cPrim);
            background-color: var(--cBNgris);

            .logo__border-circ {
                background-color: var(--cPrim);
            }
        }


        &--bn {
            border: calc(2rem * var(--factor)) solid var(--cBNgrisClaro);
            background-color: var(--cBNgris);

            &:hover {
                border: calc(2rem * var(--factor)) solid var(--cBNgrisClaro);
                background-color: var(--cBNgris);

                .logo__border-circ {
                    background-color: --cBNgrisClaro;
                }
            }
        }
    }

    &__borde-rotacion-interna {
        position: absolute;
        inset: 0;
        animation: reverseSpin 2s linear 0s;
    }

    @keyframes reverseSpin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(-180deg);
        }
    }

    @keyframes reverseSpinHover {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(-180deg);
        }
    }

    &__border-circ {
        position: absolute;
        width: calc(6rem * var(--factor));
        height: calc(6rem * var(--factor));
        
        border-radius: 50%;
        border: calc(2rem * var(--factor)) solid var(--cPrim);




        

        



    }

    &__borde-circ-top {
        @extend .logo__border-circ;
        right: 50%;
        top: calc(-4rem * var(--factor));
        left: 50%;

        background-color: var(--cSec);
        transition: background-color 1s ease;

        transform: translateX(-50%);
        &--bn {
            background-color: var(--cBNgrisClaro)!important;
            border: calc(2rem * var(--factor)) solid var(--cBNgris);

            &:hover {
                border: calc(2rem * var(--factor)) solid var(--cBNgris);
            }
        }
    }

    &__borde-circ-right {
        @extend .logo__border-circ;
        top: 50%;
        right: calc(-4rem * var(--factor));

        background-color: var(--cSec);
        transition: background-color 1s ease;

        transform: translateY(-50%);
        &--bn {
            background-color: var(--cBNgrisClaro)!important;
            border: calc(2rem * var(--factor)) solid var(--cBNgris);

            &:hover {
                border: calc(2rem * var(--factor)) solid var(--cBNgris);
            }
        }
    }

    &__borde-circ-bottom {
        @extend .logo__border-circ;

        background-color: var(--cSec);
        transition: background-color 1s ease;

        right: 50%;
        bottom: calc(-4rem * var(--factor));
        left: 50%;
        transform: translateX(-50%);

        &--bn {
            background-color: var(--cBNgrisClaro)!important;
            border: calc(2rem * var(--factor)) solid var(--cBNgris);

            &:hover {
                border: calc(2rem * var(--factor)) solid var(--cBNgris);
            }
        }
    }

    &__borde-circ-left {
        @extend .logo__border-circ;

        background-color: var(--cSec);
        transition: background-color 1s ease;


        top: 50%;
        left: calc(-4rem * var(--factor));
        transform: translateY(-50%);

        &--bn {
            background-color: var(--cBNgrisClaro)!important;
            border: calc(2rem * var(--factor)) solid var(--cBNgris);

            &:hover {
                border: calc(2rem * var(--factor)) solid var(--cBNgris);
            }
        }
    }

    &__circulo-central {
        width: calc(30rem * var(--factor));
        height: calc(30rem * var(--factor));
        border-radius: 50%;
        margin: calc(3rem * var(--factor));
        position: relative;
        background: linear-gradient(175deg,
                var(--cPrim0),
                var(--cPrim1),
                var(--cPrim2),
                var(--cPrim4));
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow: hidden;
        box-shadow: 0 0 calc(2rem * var(--factor)) calc(2rem * var(--factor)) var(--cPrim1) inset,
            0 0 calc(1.5rem * var(--factor)) calc(.2rem * var(--factor)) var(--cPrim3);

        transition: box-shadow .6s ease;

        animation: luzGirando .6s ease 0s 3;


        &:hover {
            animation: luzGirando-hover .6s ease 0s 3;

            box-shadow: 0 0 calc(2rem * var(--factor)) calc(2rem * var(--factor)) var(--cPrim0) inset,
                0 0 calc(3rem * var(--factor)) calc(1.5rem * var(--factor)) var(--cPrim0);
        }



        &--bn {
            animation: none;
            background: var(--cBNgrisClaro);
            box-shadow: 0 0 calc(2rem * var(--factor)) calc(2rem * var(--factor)) var(--cBNgris) inset,
            0 0 calc(3rem * var(--factor)) calc(1.5rem * var(--factor)) var(--cBNgrisClaro);

            &:hover {
                animation: none;
                background: var(--cBNgrisClaro);
                box-shadow: 0 0 calc(2rem * var(--factor)) calc(2rem * var(--factor)) var(--cBNgris) inset,
                0 0 calc(3rem * var(--factor)) calc(1.5rem * var(--factor)) var(--cBNgrisClaro);


            }
        }
    }

    @keyframes luzGirando {
        0% {
            background: linear-gradient(175deg, var(--cPrim0), var(--cPrim1), var(--cPrim2), var(--cPrim4));
        }

        10% {
            background: linear-gradient(211deg, var(--cPrim0), var(--cPrim1), var(--cPrim2), var(--cPrim4));
        }

        20% {
            background: linear-gradient(247deg, var(--cPrim0), var(--cPrim1), var(--cPrim2), var(--cPrim4));
        }

        30% {
            background: linear-gradient(283deg, var(--cPrim0), var(--cPrim1), var(--cPrim2), var(--cPrim4));
        }

        40% {
            background: linear-gradient(319deg, var(--cPrim0), var(--cPrim1), var(--cPrim2), var(--cPrim4));
        }

        50% {
            background: linear-gradient(355deg, var(--cPrim0), var(--cPrim1), var(--cPrim2), var(--cPrim4));
        }

        60% {
            background: linear-gradient(31deg, var(--cPrim0), var(--cPrim1), var(--cPrim2), var(--cPrim4));
        }

        70% {
            background: linear-gradient(67deg, var(--cPrim0), var(--cPrim1), var(--cPrim2), var(--cPrim4));
        }

        80% {
            background: linear-gradient(103deg, var(--cPrim0), var(--cPrim1), var(--cPrim2), var(--cPrim4));
        }

        90% {
            background: linear-gradient(139deg, var(--cPrim0), var(--cPrim1), var(--cPrim2), var(--cPrim4));
        }
    }

    @keyframes luzGirando-hover {
        0% {
            background: linear-gradient(175deg, var(--cPrim0), var(--cPrim1), var(--cPrim2), var(--cPrim4));
        }

        10% {
            background: linear-gradient(211deg, var(--cPrim0), var(--cPrim1), var(--cPrim2), var(--cPrim4));
        }

        20% {
            background: linear-gradient(247deg, var(--cPrim0), var(--cPrim1), var(--cPrim2), var(--cPrim4));
        }

        30% {
            background: linear-gradient(283deg, var(--cPrim0), var(--cPrim1), var(--cPrim2), var(--cPrim4));
        }

        40% {
            background: linear-gradient(319deg, var(--cPrim0), var(--cPrim1), var(--cPrim2), var(--cPrim4));
        }

        50% {
            background: linear-gradient(355deg, var(--cPrim0), var(--cPrim1), var(--cPrim2), var(--cPrim4));
        }

        60% {
            background: linear-gradient(31deg, var(--cPrim0), var(--cPrim1), var(--cPrim2), var(--cPrim4));
        }

        70% {
            background: linear-gradient(67deg, var(--cPrim0), var(--cPrim1), var(--cPrim2), var(--cPrim4));
        }

        80% {
            background: linear-gradient(103deg, var(--cPrim0), var(--cPrim1), var(--cPrim2), var(--cPrim4));
        }

        90% {
            background: linear-gradient(139deg, var(--cPrim0), var(--cPrim1), var(--cPrim2), var(--cPrim4));
        }
    }

    &__circulo-central::before {
        content: '';
        position: absolute;
        top: 30%;
        left: 100%;
        width: 80%;
        height: 80%;
        transform: translate(-50%, -50%);
        background: radial-gradient(circle, rgba(255, 255, 255, 0.7) 0%, transparent 60%);
        pointer-events: none;
        mix-blend-mode: screen;
    }

    &__grid-lineas {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: calc(3rem * var(--factor));
        justify-content: center;
    }

    &__centro-linea {
        height: calc(2.5rem * var(--factor));
        border-radius: 0 calc(2rem * var(--factor)) calc(2rem * var(--factor)) 0;
        background-color: var(--cPrim);


    }

    &__centro-linea-uno {
        @extend .logo__centro-linea;
        width: calc(16rem * var(--factor));
        animation: pulso1 3s ease-in-out 2s 1;
        transition: box-shadow .4s ease;


        &:hover {
            box-shadow: 0 0 calc(1rem * var(--factor)) calc(.2rem * var(--factor)) var(--cPrim);
            // background-color: lighten( var(--cPrim), 5% );
        }

        &--bn {
            background-color: var(--cBNgris);
            &:hover {
                box-shadow: none!important  ;
            }
        }
    }

    &__centro-linea-dos {
        @extend .logo__centro-linea;
        width: calc(12rem * var(--factor));
        animation: pulso2 3s ease-in-out 2s 1;
        transition: box-shadow .4s ease;


        &:hover {
            box-shadow: 0 0 calc(1rem * var(--factor)) calc(.2rem * var(--factor)) var(--cPrim);
        }

        &--bn {
            background-color: var(--cBNgris);
            &:hover {
                box-shadow: none!important  ;
            }
        }
    }

    &__centro-linea-tres {
        @extend .logo__centro-linea;
        width: calc(12rem * var(--factor));
        animation: pulso1 3s ease-in-out 2s 1;
        transition: box-shadow .4s ease;

        &:hover {
            box-shadow: 0 0 calc(1rem * var(--factor)) calc(.2rem * var(--factor)) var(--cPrim);
        }

        &--bn {
            background-color: var(--cBNgris);
            &:hover {
                box-shadow: none!important  ;
            }
        }
    }

    &__centro-linea-cuatro {
        @extend .logo__centro-linea;
        width: calc(20rem * var(--factor));
        animation: pulso2 3s ease-in-out 2s 1;
        transition: box-shadow .4s ease;

        &:hover {
            box-shadow: 0 0 calc(1rem * var(--factor)) calc(.2rem * var(--factor)) var(--cPrim);
        }

        &--bn {
            background-color: var(--cBNgris);
            &:hover {
                box-shadow: none!important  ;
            }
        }
    }

    @keyframes pulso1 {

        0%,
        100% {
            transform: scaleX(1);
        }

        50% {
            transform: scaleX(1.3);
        }
    }

    @keyframes pulso2 {

        0%,
        100% {
            transform: scaleX(1);
        }

        50% {
            transform: scaleX(1.2);
        }
    }

    @keyframes pulso1-hover {

        0%,
        100% {
            transform: scaleX(1);
        }

        50% {
            transform: scaleX(1.3);
        }
    }

    &__heading {
        display: flex;
        flex-direction: column;
        gap: calc(2rem * var(--factor));
        align-items: center;
        justify-content: center;
        font-family: var(--fuente_prim);
        opacity: 0;
        animation: opacityChange 1s linear 3s 1 forwards;

        h2 {
            font-size: calc(5rem * var(--factor));
            margin: 0;
            font-family: var(--fuente_prim);
            color: var(--cPrim);
        }

        p {
            font-size: calc(1.8rem * var(--factor));
            margin: 0;
        }
    }

    @keyframes opacityChange {
        from {
            opacity: 0;
            padding: 0;
        }

        to {
            opacity: 1;
            padding: calc(1rem * var(--factor)) 0;
        }
    }
}







// SASS

// @use '../../base/variables' as v;
// @use '../../base/mixins' as m;


// // Factor de reducción, este es utilizado en la función, .5 = reducir un 50%
// $reduction-factor: .8;

// // Functión para escalar las medidas contenidas en las variables
// @function reduce($value) {
//     @return $value * $reduction-factor;
// }

// .logo {

//     // Variables con todas las medidas dadas en el logo (paddings, margins, font-size, etc)
//     $m0: reduce(1.5rem);
//     $m1: reduce(2rem);
//     $m2: reduce(3.5rem);
//     $m3: reduce(0.8rem);
//     $m4: reduce(4rem);
//     $m5: reduce(0.5rem);
//     $m6: reduce(1rem);
//     $m7: reduce(6rem);
//     $m8: reduce(30rem);
//     $m9: reduce(3rem);
//     $m10: reduce(0.2rem);
//     $m11: reduce(2.5rem);
//     $m12: reduce(16rem);
//     $m13: reduce(12rem);
//     $m14: reduce(20rem);
//     $m15: reduce(5rem);
//     $m16: reduce(1.8rem);
//     $m17: reduce(1.6rem);

//     // Colores
//     $fuente_prim: "Quicksand", sans-serif;
//     $cFondo: #fffff0;
//     $cPrim: #212936;;
//     $cSec: #6ca690;
//     $cNegro: #212936;
//     $cGris: #444444;
//     $cPrim0: #f6b73c;
//     $cPrim1: #f48c06;
//     $cPrim2: #e85d04;
//     $cPrim3: #aa4f08;
//     $cPrim4: #d00000;

//     &__contenedor {
//         display: flex;
//         flex-direction: column;
//         width: fit-content;
//         gap: $m0;
//         padding: $m1;
//         background-color: $cFondo;
//         color: $cSec;
//         animation: fadeInUp 1.5s ease-out both;
//     }

//     &__cuadro-up {
//         h2 {
//             margin: 0;
//             font-size: $m2;
//             font-family: $fuente_prim;
//             letter-spacing: $m3;
//             color: $cPrim;
//             animation: fadeInUp 2s ease-out both;
//         }
//     }

//     @keyframes fadeInUp {
//         from {
//             opacity: 0;
//             transform: translateY($m4);
//         }

//         to {
//             opacity: 1;
//             transform: translateY(0);
//         }
//     }

//     &__grid {
//         display: grid;
//         grid-template-columns: 1fr 5fr 1fr;
//         align-items: center;
//         gap: $m1;
//     }

//     &__cuadro-lateral {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         border-radius: 3%;
//         border-top: $m5 solid $cGris;
//         border-bottom: $m5 solid $cGris;
//         opacity: 0;
//         animation: opacityChange 1s linear 4s 1 forwards;

//         p {
//             font-size: $m17;
//         }
//     }

//     @keyframes opacityChange {
//         from {
//             opacity: 0;
//             padding: 0;
//         }

//         to {
//             opacity: 1;
//             padding: $m6 0;
//         }
//     }

//     &__cuadro-centro {}

//     &__circulo-fondo {
//         background-color: $cPrim;
//         padding: $m1;
//         border-radius: 50%;
//     }

//     &__circulo-borde {
//         border: $m1 solid $cSec;
//         border-radius: 50%;
//         position: relative;
//     }

//     &__borde-rotacion-interna {
//         position: absolute;
//         inset: 0;
//         animation: reverseSpin 2s linear 0s;
//     }

//     @keyframes reverseSpin {
//         from {
//             transform: rotate(0deg);
//         }

//         to {
//             transform: rotate(-180deg);
//         }
//     }

//     &__border-circ {
//         position: absolute;
//         width: $m7;
//         height: $m7;
//         background-color: $cSec;
//         border-radius: 50%;
//         border: $m1 solid $cPrim;
//     }

//     &__borde-circ-top {
//         @extend .logo__border-circ;
//         right: 50%;
//         top: -$m4;
//         left: 50%;
//         transform: translateX(-50%);
//     }

//     &__borde-circ-right {
//         @extend .logo__border-circ;
//         top: 50%;
//         right: -$m4;
//         top: 50%;
//         transform: translateY(-50%);
//     }

//     &__borde-circ-bottom {
//         @extend .logo__border-circ;
//         right: 50%;
//         bottom: 0;
//         bottom: -$m4;
//         left: 50%;
//         transform: translateX(-50%);
//     }

//     &__borde-circ-left {
//         @extend .logo__border-circ;
//         top: 50%;
//         left: -$m4;
//         top: 50%;
//         transform: translateY(-50%);
//     }

//     &__circulo-central {
//         width: $m8;
//         height: $m8;
//         border-radius: 50%;
//         margin: $m9;
//         position: relative;
//         background: linear-gradient(175deg,
//                 $cPrim0,
//                 $cPrim1,
//                 $cPrim2,
//                 $cPrim4
//             );
//         background-repeat: no-repeat;
//         background-attachment: fixed;
//         overflow: hidden;
//         box-shadow: 0 0 $m1 $m1 $cPrim1 inset,
//             0 0 $m0 $m10 $cPrim3;

//         animation: luzGirando .6s ease 0s 3;
//     }

//     @keyframes luzGirando {
//         0% {
//             background: linear-gradient(175deg, $cPrim0, $cPrim1, $cPrim2, $cPrim4);
//           }

//           10% {
//             background: linear-gradient(211deg, $cPrim0, $cPrim1, $cPrim2, $cPrim4);
//           }

//           20% {
//             background: linear-gradient(247deg, $cPrim0, $cPrim1, $cPrim2, $cPrim4);
//           }

//           30% {
//             background: linear-gradient(283deg, $cPrim0, $cPrim1, $cPrim2, $cPrim4);
//           }

//           40% {
//             background: linear-gradient(319deg, $cPrim0, $cPrim1, $cPrim2, $cPrim4);
//           }

//           50% {
//             background: linear-gradient(355deg, $cPrim0, $cPrim1, $cPrim2, $cPrim4);
//           }

//           60% {
//             background: linear-gradient(31deg, $cPrim0, $cPrim1, $cPrim2, $cPrim4);
//           }

//           70% {
//             background: linear-gradient(67deg, $cPrim0, $cPrim1, $cPrim2, $cPrim4);
//           }

//           80% {
//             background: linear-gradient(103deg, $cPrim0, $cPrim1, $cPrim2, $cPrim4);
//           }

//           90% {
//             background: linear-gradient(139deg, $cPrim0, $cPrim1, $cPrim2, $cPrim4);
//           }
//     }

//     &__circulo-central::before {
//         content: '';
//         position: absolute;
//         top: 30%;
//         left: 100%;
//         width: 80%;
//         height: 80%;
//         transform: translate(-50%, -50%);
//         background: radial-gradient(circle, rgba(255, 255, 255, 0.7) 0%, transparent 60%);
//         pointer-events: none;
//         mix-blend-mode: screen;
//     }

//     &__grid-lineas {
//         display: flex;
//         flex-direction: column;
//         height: 100%;
//         gap: $m9;
//         justify-content: center;
//     }

//     &__centro-linea {
//         height: $m11;
//         border-radius: 0 $m1 $m1 0;
//         background-color: $cPrim;
//     }

//     &__centro-linea-uno {
//         @extend .logo__centro-linea;
//         width: $m12;
//         animation: pulso1 3s ease-in-out 2s 1;
//     }

//     &__centro-linea-dos {
//         @extend .logo__centro-linea;
//         width: $m13;
//         animation: pulso2 3s ease-in-out 2s 1;
//     }

//     &__centro-linea-tres {
//         @extend .logo__centro-linea;
//         width: $m13;
//         animation: pulso1 3s ease-in-out 2s 1;
//     }

//     &__centro-linea-cuatro {
//         @extend .logo__centro-linea;
//         width: $m14;
//         animation: pulso2 3s ease-in-out 2s 1;
//     }

//     @keyframes pulso1 {

//         0%,
//         100% {
//             transform: scaleX(1);
//         }

//         50% {
//             transform: scaleX(1.3);
//         }
//     }

//     @keyframes pulso2 {

//         0%,
//         100% {
//             transform: scaleX(1);
//         }

//         50% {
//             transform: scaleX(1.2);
//         }
//     }

//     &__heading {
//         display: flex;
//         flex-direction: column;
//         gap: $m1;
//         align-items: center;
//         justify-content: center;
//         font-family: $fuente_prim;
//         opacity: 0;
//         animation: opacityChange 1s linear 3s 1 forwards;

//         h2 {
//             font-size: $m15;
//             margin: 0;
//             font-family: $fuente_prim;
//             color: $cPrim;
//         }

//         p {
//             font-size: $m16;
//             margin: 0;
//         }
//     }

//     @keyframes opacityChange {
//         from {
//             opacity: 0;
//             padding: 0;
//         }

//         to {
//             opacity: 1;
//             padding: $m6 0;
//         }
//     }
// }