@use '../base/mixins' as m;
@use '../base/variables' as v;

/* Botón con gradiente */

.btn-grad {background-image: linear-gradient(to right, #FF4E50 0%, #F9D423  51%, #FF4E50  100%)}
.btn-grad {
   margin: 1rem;
   padding: 1.5rem 3.5rem;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: v.$blanco;            
   border-radius: 1rem;
   display: block;
   font-size: 1.6rem;
   font-weight: 700;
 }

 .btn-grad:hover {
   background-position: right center;
   color: v.$blanco;;
   text-decoration: none;
 }


