@use '../base/variables' as v;

.nav-scroll {
    padding-top: 69px;
}

.fijar-body {
    overflow: hidden;
}

.color-orange {
    color: v.$naranja!important;
}

.c-ama {
    color: v.$amarillo!important;
}

.c-azul {
    color: v.$azul;
}

.c-rojo {
    color: v.$naranja2;
}

.c-rosa {
    color: v.$rosa;
}

.t-y {
    transform: translateY(-2rem);
}

.b-rojo {
    border: 2px solid v.$naranja;
}