@use '../base/variables' as v;
@use '../base/mixins' as m;

.nav-scroll {
    padding-top: 83px;

    @include m.tablet {
        padding-top: 80px;
    }
}

.no-scroll {
    overflow-y: hidden;
}

.fijar-body {
    overflow: hidden;
}

.no-visible {
    opacity: 0;
    transition: opacity 1s ease;
    cursor: default!important;
}
.display-none {
    display: none!important ;
}

.c-orange {
    color: v.$naranja_past!important;
}

.c-ama {
    color: v.$amarillo_past!important;
}

.c-azulF {
    color: v.$azulF!important;
}

.c-azul {
    color: v.$azul_past!important;
}

.c-gris {
    color: v.$gris!important;
}

.c-rojo {
    color: v.$naranja2!important;
}

.c-rosa {
    color: v.$rosa!important;
}

.c-white {
    color: v.$blanco!important;
}

.c-black {
    color: v.$negro!important;
}

.c-green {
    color: v.$verde!important;
}

.c-oscuro {
    color: v.$negroLight;
}
.c-cyan {
    color: v.$cyan;
}
.c-dor {
    color: v.$doradoST!important;
}
.t-y {
    transform: translateY(-2rem);
}

.b-rojo {
    border: 2px solid v.$naranja_past;
}

.bg-naranja-past {
    background-color: rgba(v.$naranja_past, .5);

    &:hover {
        background-color: rgba(v.$naranja_past, .9);
    }
}

.bg-ama-past {
    background-color: rgba(v.$amarillo_past, .5);

    &:hover {
        background-color: rgba(v.$amarillo_past, .9);
    }
}

.bg-verde-past {
    background-color: rgba(v.$verde_past, .5);

    &:hover {
        background-color: rgba(v.$verde_past, .9);
    }
}




.font-white {
    color: v.$blanco!important;
}
.hover-white {
    &:hover {
        color: v.$blanco!important;
    }
}

.relative {
    position: relative;
}

// DM
.font-dm-white {
    color: v.$grisClaro!important;
}

.bg-dm-white {
    background-color: v.$grisOscuro!important;
}

